@import './base.css';
body {
  font-family:'Times New Roman', Times, serif ;
}

#app {
  padding: 2rem;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #2c3e50;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    font-family:'Times New Roman', Times, serif ;
  }

}
